.gameObject {
  height: 100px;
  aspect-ratio: 1;
  position: absolute;
  top: 100px;
  left: 100px;
  display: none;
}

.playing-field
{
  height: 540px;

  aspect-ratio: 1.77777777778;  /* 16/9 */
  background: grey;
}

.center{
  display: flex;
  justify-content: center;
  align-content: center;
}
